local/local_functions.asl.json
{
  "Comment": "A state machine is for fun",
  "StartAt": "English Greeting",
  "States": {
    "English Greeting": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:EnglishGreetingFunction",
      "Next": "Spanish Greeting"
    },
    "Spanish Greeting": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:SpanishGreetingFunction",
      "Next": "German Greeting"
    },
    "German Greeting": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:GermanGreetingFunction",
      "End": true
    }
  }
}